services:
  client-backend:
    image: client
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${APP_PORT}:8080"
    depends_on:
      - service-db
    environment:
      - SERVER_PORT= ${APP_PORT}
      - SPRING_DATASOURCE_URL=jdbc:postgresql://service-db/${DB_NAME}

  service-db:
    image: postgres:15.3-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  db-data:
